input,button,select,textarea,a{outline:none}
h1,h2,h3,h4,h5,h6 {
    margin:10px 0;
    font-weight:400
}
body{
    min-width:1024px;
    min-height: 600px;
    background-color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
}
input {
    font-family:Arial,"Hiragino Sans GB","Microsoft Yahei",SimSun
}
a {
    background-color: transparent;
    outline: 0;
    text-decoration: none;
}
h4{
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
li{
    list-style: none;
}
ul {
    margin:0;
    padding:0;
}
.fl{
    float: left;
}
p {
    margin:0
}
p+p {
    margin-top:10px
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
/*header*/
.sso_header{
    position: relative;
    width: 100%;
    height: 323px;
    margin: 0;
    padding: 0;
    background-color: #00b38a;
}
.sso_header .logo{
    position: absolute;
    z-index: 9999;
    top:70px;
    left: 136px;
    display: inline-block;
    width: 128px;
    height: 54px;
    background: url(../images/logo_13bcdf6.png)left top no-repeat;
}
/*content*/
.content_box {
    position: relative;
    width: 556px;
    margin: -168px auto 0 auto;
    padding: 50px 47px 60px 57px;
    background-color: #fff;
    border-radius:2px;
    box-shadow: 0 0 5px rgba(0,0,0,.09);
    display: table;
    position:relative;
    z-index:1
}
.content_box:before, .content_box:after {
    content:"";
    position:absolute;
    z-index:3;
    bottom:-2px;
    right:-2px;
    display:block;
    width:0;
    border-width:8px;
    border-style:solid;
    border-color:#f1f1f1 #fff #fff #f1f1f1;
    -webkit-border-radius:3px 0 0;
    -moz-border-radius:3px 0 0;
    border-radius:3px 0 0
}
.content_box:after {
    bottom:-1px;
    right:-1px;
    z-index:2;
    right:5px;
    border-width:12px 12px 0 0;
    border-color:#dedede
}
/*左侧*/
.content_box .left_area{
    width: 300px;
    margin-right: 46px;
    float: left;
    display: block;
}
/*form_head*/
.content_box .form_head {
    position: relative;
    z-index: 1;
    height: 33px;
    margin-bottom: 29px;
    border-bottom: 1px solid #ebebeb;
}
.content_box .form_head li {
    font-size:16px;
    line-height:24px;
    position:relative;
    float:left;
    width:150px;
    height:33px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    color:#333
}
.content_box .form_head li.active {
    color:#00b38a
}
.content_box .form_head li.active .icon_phone {
    background-image:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-phone-active_74d4e76.png);
    background-position:4px top;
    background-repeat:no-repeat;
    vertical-align:-1px
}
.content_box .form_head li.active .icon_mail {
    background-image:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-mail-active_22ff66f.png);
    background-position:left top;
    background-repeat:no-repeat
}
.content_box .form_head li .icon {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle
}
.content_box .form_head li .icon_phone {
    background-image:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-phone_4327f93.png);
    background-position:4px top;
    background-repeat:no-repeat;
    vertical-align:-1px
}
.content_box .form_head li .icon_mail {
    background-image:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-mail_dd7169e.png);
    background-position:left top;
    background-repeat:no-repeat
}
.content_box .form_head .tab_active {
    position:absolute;
    left:0;
    bottom:-1px;
    background-color:#00b38a;
    width:150px;
    height:1px
}
.content_box .form_head .tab_active:before, .content_box .form_head .tab_active:after {
    position:absolute;
    z-index:2;
    top:-12px;
    left:50%;
    margin-left:-3px;
    content:'';
    width:0;
    height:0;
    line-height:0;
    border:6px solid transparent;
    border-bottom-color:#00b38a
}
.content_box .form_head .tab_active:after {
    z-index:3;
    top:-10px;
    width:0;
    height:0;
    line-height:0;
    border:6px solid transparent;
    border-bottom-color:#fff
}
/*form_body*/
.content_box .form_body {
    float:left;
    display:block
}
.content_box .input_item+.input_item {
    margin-top:20px
}
.content_box .input {
    width:272px
}
/*input*/
.input_item {
    position:relative;
    z-index:1;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.input_tips {
    position:relative;
    z-index:2;
    display:block;
    margin-top:5px;
    line-height:18px;
    padding-left:20px;
    color:#fd5f39;
    background:url(https://www.lgstatic.com/passport/static/common/static/img/info_5a35a92.png) left center no-repeat
}
.input, .dropbtn {
    font-size:14px;
    position:relative;
    z-index:1;
    height:44px;
    line-height:1;
    line-height:44px\9;
    padding-right:13px;
    padding-left:13px;
    vertical-align:middle;
    color:#333;
    border-width:1px;
    border-style:solid;
    border-radius:2px;
    outline:0
}
.input::-moz-placeholder, .dropbtn::-moz-placeholder {
    color:#b5b5b5;
    opacity:1
}
.input:-ms-input-placeholder, .dropbtn:-ms-input-placeholder {
    color:#b5b5b5
}
.input::-webkit-input-placeholder, .dropbtn::-webkit-input-placeholder {
    color:#b5b5b5
}
.input_gray, .dropbtn_gray {
    border-color:#f3f3f3;
    background-color:#f3f3f3
}
.input_white, .dropbtn_white {
    border-color:#f8f8f8;
    background-color:#f8f8f8
}
.input:focus, .dropbtn:focus {
    border-color:#00b38a
}
.input_warning, .dropbtn_warning {
    border-color:#ff4351
}
.input_group:after {
    clear:both;
    _overflow:hidden
}
.input_group input {
    float:left
}
.input_group>input.first-child {
    border-top-right-radius:0;
    border-bottom-right-radius:0
}
.input_group>input:last-child {
    border-top-left-radius:0;
    border-bottom-left-radius:0
}
*+.input_item {
    margin-top: 23px
}
/*btn*/
.btn {
    font-size:16px;
    line-height:44px;
    display:inline-block;
    height:44px;
    padding:0 30px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    border:1px solid #fff;
    *border:1px solid transparent;
    outline:0;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-transition:.05s linear;
    -o-transition:.05s linear;
    transition:.05s linear
}
.btn:hover, .btn.btn_active {
    text-decoration:none;
    color:#00b38a;
    background-color:#fff
}
.btn.btn_link {
    color:#fff;
    border-color:transparent;
    background-color:transparent
}
.btn.btn_outline {
    color:#fff;
    background-color:transparent
}
.btn_sm {
    font-size:14px;
    line-height:36px;
    height:36px
}
.btn_lg {
    font-size:18px;
    line-height:46px;
    height:46px
}
.btn_block {
    display:block;
    width:100%
}
.btn+.btn {
    margin-top:23px
}

.btn_green {
    color:#00b38a;
    border-color:#00b38a;
    background-color:#fff
}
.btn_green:hover, .btn_green.btn_active {
    color:#fff;
    border-color:#00b38a;
    background-color:#00b38a
}
.btn_green.btn_link {
    color:#00b38a;
    border-color:transparent;
    background-color:transparent
}
.btn_green.btn_outline {
    color:#00b38a;
    background-color:transparent
}
.btn_red {
    color:#fd5f39;
    border-color:#fd5f39;
    background-color:#fff
}
.btn_red:hover, .btn_red.btn_active {
    color:#fff;
    background-color:#fd5f39
}
.btn_red.btn_link {
    color:#fd5f39;
    border-color:transparent;
    background-color:transparent
}
.btn_red.btn_outline {
    color:#fd5f39;
    background-color:transparent
}

/*验证码*/
.content_box .input_group>input.first_child {
    width:162px
}
.content_box .input_group>input.last_child {
    font-size:14px;
    width:110px;
    padding:0
}
/*验证图片*/
.content_box .yzm {
    width:100px;
    height:46px;
    vertical-align:top;
    display:inline
}
/*刷新*/
.content_box .reflash {
    display:inline-block;
    height:48px;
    width:19px;
    vertical-align:middle;
    margin-left:10px;
    background:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-reflash_a187c0b.jpg) center center no-repeat
}
/*work*/
.content_box .btn_outline {
    width:140px;
    margin-top:0;
    margin-right:15px;
    color:#999;
    border-color:#dce4e6;
    font-size:14px
}
.content_box .btn_outline.btn_active {
    color:#333;
    border-color:#00b38a
}
.content_box .btn_outline.last_child {
    margin-right:0;
    *margin-right:-3px
}
/*checkbox*/
.box_checkbox {
    height:14px;
    line-height:14px;
    z-index:2;
    margin-bottom:10px;
    padding-left:5px;
    color:#777
}
.box_checkbox .checkbox_icon {
    position:absolute;
    z-index:4;
    top:0;
    top:3px\9;
    left:0;
    display:block;
    width:13px;
    height:16px;
    background-image:url(https://www.lgstatic.com/passport/static/common/static/img/checkbox_e13d654.png);
    background-repeat:no-repeat;
    background-position:0 0
}
.box_checkbox .checkbox {
    zoom:1;
    width:13px;
    height:13px;
    opacity:0;
    outline:0;
    filter:alpha(opacity=0)
}

/*分割线*/
.content_box .divider {
    position:relative
}
.content_box .divider img {
    width:13px;
    height:414px
}
/*右侧*/
.content_box .right_area {
    width:151px;
    margin-left:46px;
    color:#777
}
.content_box .right_area h5 {
    margin-top:30px;
    color:#777
}
.vender_login {
    margin-top:10px
}
.vender_login li {
    float:left;
    width:44px;
    height:43px;
    margin-right:9px
}
.vender_login li .vender_icon {
    display:inline-block;
    width:44px;
    height:43px;
    background-position:left top;
    background-repeat:no-repeat
}
.vender_login li .icon_sina {
    background-image:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-sina_9cae1d9.png)
}
.vender_login li .icon_tencent {
    background-image:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-tecent_5870bd4.png)
}
.vender_login li .icon_wechat {
    background-image:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-wechat_12ea62f.png)
}
.vender_login li.last_child {
    margin-right:0
}
/*直接登录*/
.content_box .right_area .login_now {
    display:inline-block;
    height:22px;
    font-size:16px;
    color:#00b38a;
    padding-right:23px;
    background:url(https://www.lgstatic.com/passport/static/pc/modules/common/img/icon-arrow-right_f36c0d6.png) right center no-repeat
}
/*右侧图片*/
.right_area img{
    width: 128px;
    height: 128px;
}
.content_box .qrcode {
    margin-top:80px
}
.content_box .qrcode img {
    width:124px;
    height:124px;
}
.content_box .qrcode p {
    font-size: 12px;
    display: inline-block;
    padding-left: 6px;
}
.slogn{
    margin-top: 50px;
    text-align: center;
    color:#d1d1d1 ;
}
